.grid-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4%;
  margin: 1% 0 1% 0;
  width: 100%;
}

.grid-title h2 {
  margin: 5% 0 1% 0;
  padding: 0 4% 0 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
  color: inherit;

  color: #36454f;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-content: start center;
  justify-content: center;
  padding: 0% 4% 20% 4%;
  row-gap: 2%;
  margin: 0 0 5% 0;
  width: 100%;
  /*height: 100%;*/
}

.grid-container-item {
  place-self: center;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  /*min-height: 0;*/
  height: 100%;
  margin: 0% 4% 0 4%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  border-radius: 14px;
}

.grid-container-item:hover {
  cursor: pointer;
}

.grid-container-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 4% 4% 0% 4%;
  margin: 0 0 4% 0;
}

.grid-container-item-content p {
  width: 100%;
  min-height: 0;
  margin: 0 0 5% 0;
  padding: 0;

  font-weight: 300;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.grid-container-item-content h3 {
  width: 100%;
  margin: 10% 0 2.5% 0;
  padding: 0;

  font-weight: 700;
  font-size: 0.9rem;
  text-transform: capitalize;
  color: #495d6a;
}

.grid-container-item-content h2 {
  width: 100%;
  margin: 2% 0 0 0;
  padding: 0;

  font-weight: 700;
  font-size: 1.5rem;
  color: #36454f;
}

.grid-container-item img {
  filter: grayscale(100%);
  padding: 0 !important;

  width: 100%;
  object-fit: cover;
  max-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
}
.grid-container-item img:hover {
  filter: grayscale(0);
}

.grid-container-item h4 {
  margin: 10% 0 0.5% 0;
  padding: 0 2%;

  font-weight: 300;
  font-style: italic;
  font-size: 0.75rem;
  text-transform: capitalize;

  color: #8ca2b0;
}

.grid-container-item h2 {
  margin: 0% 0 5% 0;
  padding: 0 2%;

  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;

  color: #36454f;
}

.grid-container-more-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  margin: 2% 0 0% 0;
  padding: 2% !important;
  border-radius: 0 0 14px 14px;
  padding: 0 1%;
}

.grid-container-more-info img {
  width: 7%;
  padding: 2%;
  margin: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container-more-info p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0 1%;
  width: 100%;

  font-weight: 300;
  font-size: 0.9rem;
  text-transform: capitalize;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

/*tablet*/
@media only screen and (min-width: 601px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2%;
    padding: 0 4% 5% 4%;
  }
}

/*tablet*/
@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .grid-title {
    padding: 0 5%;
  }
}

/*large devices, laptops, monitors*/
@media only screen and (min-width: 992px) {
  .grid-container {
    padding: 0 10% 5% 10%;
    margin: 0 0 0 0;
    gap: 4% 2%;
  }

  .grid-title {
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  .grid-title h2 {
    justify-content: flex-start;
    padding: 0 10%;
  }
}

/*monitors*/
@media only screen and (min-width: 1200px) {
  .grid-container {
    padding: 0 15% 5% 15%;
  }

  .grid-title h2 {
    padding: 0 15%;
  }
}
