.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/heroImage.jpg");
  height: 80vh;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50% 4% 5% 4%;
  color: white;
}

.hero-container h2 {
  margin: 0 0 1% 0;
  padding: 0;
  display: flex;
  justify-content: center;

  width: 100%;
  font-weight: 900;
  font-size: 2rem;
  text-transform: capitalize;
  color: inherit;
}

.hero-container-description-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.hero-container-description-container p {
  margin: 1% 2.5% 2.5% 2.5%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 0.8rem;
  text-transform: capitalize;
  color: inherit;
}

.hero-button {
  margin: 12.5% 0 0 0;
  padding: 2.5% 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 24px;

  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid white;
}

.hero-button:hover {
  cursor: pointer;
  background-color: #36454f;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .hero-button {
    width: 80%;
  }
}

/*tablet*/
@media only screen and (min-width: 601px) {
  .hero-container {
    padding: 20% 4% 5% 4%;
    background-position: center;
  }
  .hero-container h2 {
    margin: 0 0 2% 0;
    font-size: 2.5rem;
  }
  .hero-container-description-container {
    margin: 0 0 2% 0;
  }
  .hero-button {
    margin: 2.5% 0 0 0;
    padding: 2% 5%;
    width: 40%;
  }
}

/*tablet*/
@media only screen and (min-width: 768px) {
  .hero-container {
    padding: 20% 5% 5% 5%;
  }
  .hero-button {
    margin: 2.5% 0 0 0;
    padding: 2% 8%;
    width: 30%;
  }
}

/*large devices, laptops, monitors*/
@media only screen and (min-width: 992px) {
  .hero-container {
    padding: 15% 10% 5% 10%;
  }

  .hero-container h2 {
    font-size: 4rem;
  }
  .hero-container-description-container p {
    margin: 1% 1% 2% 1%;
    font-size: 1rem;
  }
  .hero-button {
    margin: 2% 0 0 0;
    padding: 1% 5%;
    width: 25%;
  }
}

/*monitors*/
@media only screen and (min-width: 1200px) {
  .hero-container {
    padding: 15% 15% 5% 15%;
  }
}
