.modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 20% 0 0 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 1% 1% 3% 1%;
  width: 90%;
  background-color: white;
  border: 3px solid #a7b8c3;
}

.modal-header-button {
  display: none;
}

.modal-content .modal-close-icon {
  border: 2px solid #495d6a;
  margin: 20% 0 0 0;
  width: 65%;
}

.modal-close-icon:hover {
  cursor: pointer;
  background-color: #c3ced6;
}

.modal-content-main-body {
  padding: 4% 2% 2% 2%;
  margin: 7.5% 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #495d6a white; /*color of handle for first and color of track for second, for firefox only*/
  height: 50vh;
}

/*scrollbar*/
.modal-content-main-body::-webkit-scrollbar {
  width: 8px;
}

.modal-content-img-additional::-webkit-scrollbar {
  height: 4px;
}

/* Track */
.modal-content-main-body::-webkit-scrollbar-track,
.modal-content-img-additional::-webkit-scrollbar-track {
  border-radius: 0;
}

/* Handle */
.modal-content-main-body::-webkit-scrollbar-thumb,
.modal-content-img-additional::-webkit-scrollbar-thumb {
  background: #495d6a;
  border-radius: 0px;
}

.modal-content-img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content-img-additional {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  overflow-x: auto;
  margin: 2% 0;
}

.modal-content-img-additional img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 2% 0 0;
}

.modal-content-main-body img {
  width: 100%;
  filter: grayscale(0);
}

.modal-content-description {
  width: 100%;
  padding: 0;
  margin: 2.5% 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.modal-content-description p {
  padding: 0;
  margin: 0 0 0.5% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-weight: 300;
  font-size: 0.75rem;
  text-transform: uppercase;

  color: #5b7586;
}

.modal-content-description h2 {
  margin: 0 0 8% 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #36454f;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .modal-container {
    padding: 10% 0 0 0;
  }

  .modal-content .modal-close-icon {
    margin: 50% 0 0 0;
    width: 70%;
  }
}

/*tablet*/
@media only screen and (min-width: 601px) {
  .modal-container {
    padding: 10% 0 0 0;
  }

  .modal-content .modal-close-icon {
    margin: 50% 0 0 0;
    width: 70%;
  }
  .modal-content-main-body {
    margin: 2.5% 0 0 0;
    height: 70vh;
  }
}

/*tablet*/
@media only screen and (min-width: 768px) {
  .modal-container {
    padding: 5% 0 0 0;
  }

  .modal-content .modal-close-icon {
    margin: 50% 0 0 0;
    width: 80%;
  }
}

/*large devices, laptops, monitors*/
@media only screen and (min-width: 992px) {
  .modal-container {
    padding: 1% 0 0 0;
  }

  .modal-content {
    align-items: flex-end;
    background: white;
    border-radius: 14px;
    width: 80%;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .modal-header-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.25% 1.5%;
    border: 2px solid #495d6a;
    border-radius: 14px;

    font-weight: 700;
    font-size: 0.75rem;
    text-transform: capitalize;

    color: #495d6a;
  }

  .modal-header-button:hover {
    cursor: pointer;
    background-color: #c3ced6;
  }

  .modal-content .modal-close-icon {
    border: 2px solid #495d6a;
    margin: 0% 0 0 0;
    width: 2%;
    border-radius: 14px;
  }
  .modal-content-main-body {
    padding: 1% 0% 0% 0%;
    margin: 1% 0 0 0;
    flex-direction: row;
    align-items: flex-start;
    overflow: auto;
    height: 75vh;
  }

  .modal-content-img-container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .modal-content-img-additional {
    width: 100%;
    padding: 0;
  }

  .modal-content-img-additional img {
    max-width: 30%;
    margin: 0 0.5% 0 0;
  }

  .modal-content-main-body img {
    width: 100%;
  }

  .modal-content-description {
    width: 20%;
    height: 100%;
    padding: 0 1%;
    margin: 0 0 0 2.5%;
    align-items: flex-start;
    overflow: auto;
  }

  .modal-content-description p {
    justify-content: flex-start;
  }

  .modal-content-description h2 {
    justify-content: flex-start;
    margin: 0 0 10% 0;
  }
}

/*monitors*/
@media only screen and (min-width: 1200px) {
  .modal-close-icon {
    width: 2%;
  }
  .modal-container {
    padding: 2% 0 0 0;
  }
}
