a {
  text-decoration: none;
  color: black;
}

.nav-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 4% 0 4%;
  width: 100%;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 2% 0;
  margin: 0;

  align-items: center;
  background: white;
}

.nav-bar-logo {
  display: flex;
  width: 25%;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0;
}

.nav-bar-logo:hover {
  cursor: pointer;
}

.nav-bar-logo img {
  padding: 0;
  margin: 0;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-icon {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav-links-icon img {
  padding: 0;
  margin: 0;
}

nav {
  display: none;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 2% 0;
  margin: 4% 0;
  border-top: 1px solid #495d6a;
}

nav a {
  padding: 1% 0;
  margin: 1% 0;
  width: 100%;
  text-transform: none;

  font-weight: 400;
  font-size: 0.9rem;
  text-transform: capitalize;

  color: #36454f;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .nav-bar {
    margin: 0 0 2.5% 0;
  }
  .nav-bar-logo img {
    width: 35%;
  }
}

/*tablet*/
@media only screen and (min-width: 601px) {
  .nav-bar {
    padding: 4% 4% 2% 4%;
    margin: 0 0 1% 0;
  }

  nav {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  }

  .nav-bar-logo {
    align-items: center;
  }

  nav a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5%;
    padding: 2% 0;
    width: 25%;
    border: 2px solid #36454f;
    border-radius: 24px;

    font-weight: 400;
    font-size: 0.9rem;
    text-transform: capitalize;

    color: #36454f;
  }

  nav a:hover {
    cursor: pointer;
    background-color: #718c9e;
    color: white;

    font-weight: 700;
  }

  .nav-bar nav a:nth-child(3) {
    background-color: #718c9e;
    color: white;
  }
  .nav-bar nav a:nth-child(3):hover {
    background-color: #a7b8c3;
  }

  .nav-bar-logo img {
    width: 90%;
  }
}

/*tablet*/
@media only screen and (min-width: 768px) {
  .nav-bar {
    padding: 4% 5% 2% 5%;
    margin: 0 0 1.5% 0;
  }
}

/*large devices, laptops, monitors*/
@media only screen and (min-width: 992px) {
  .nav-bar {
    padding: 3% 10% 1% 10%;
    margin: 0 0 1% 0;
  }
  nav a {
    margin: 0 0 0 5% !important;
    padding: 1% 0;
    width: 15%;
  }
}

/*monitors*/
@media only screen and (min-width: 1200px) {
  .nav-bar {
    padding: 3% 15% 1% 15%;
    margin: 0 0 1% 0;
  }
}
